@charset "utf-8";
*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #050E56;
	font: normal 100% "Roboto", "Arial", sans-serif;
	line-height: 1.38;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

header {
	background-color: #0F1C82;
}

.container {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.main-menu,
.dropdown,
.language-menu,
.promo-offers,
.footer-col ul,
.breadcrumbs ul,
.announcement ul {
	list-style: none;
}

.announcement ul  {
	padding: 0;
}

a {
	text-decoration: none;
	color: #0F1C82;
}

.main-navigation a,
.footer-wrapper a {
	color: #ffffff;
}

.button {
	display: inline-block;
	max-width: 100%;
	text-align: center;
	text-decoration: none;
	padding: 0.68em 0.95em;
	font: inherit;
	line-height: 1.5;
	border-radius: 6px;
	color: #050E56;
	background-color: orange;
	cursor: pointer;
}

.main-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}

img {
	max-width: 100%;
}

.dropdown {
	display: none;
}

.main-menu li,
.announcement li {
	display: inline-block;
	padding: 5px 10px;
}

.language-menu li {
	display: inline-block;
	padding: 5px 10px;
}

.announcement {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	color: red;
}

.banner {
	background: gray url("../img/bags-central.jpg");
	background-size: cover;
	min-height: 300px;
	padding: 40px;
}

.banner-text {
	text-align: center;
	margin-right: auto;
	margin-left:  auto;
	padding: 10px;
	background: rgba(10, 8, 89, 0.4);

	color: #ffffff;
}

.banner-text h1 {
	font-size: 2.5em;
}

.banner-text p {
	margin: 0;
	font-size: 1.5em;
	line-height: 1.3;
}

.inside-title,
.section-title {
	font-size: 2.5em;
	font-weight: normal;
	text-align: center;
	margin-bottom: 10px;
}

.promo-offers {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 4em;
}

.offer {
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}


h3 {
	font-size: 1.875em;
	margin: 0;
}

.offer a {
	color: #ffffff;
	padding: 10px 20px;
	background-color:  #0F1C82;
	border-radius: 6px;
}

.our-products {
	margin-bottom: 70px;
}

.products {
	display: flex;
	justify-content: space-between;
}

.product-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 5%;
	text-align: center;
}

.product-item a {
	color: black;
	background-color: orange;
	padding: 10px 20px;
}

.info-text {
	background-color: rgb(242, 242, 242);
	padding: 5px 20px 10px 25px;
}

.info {
	margin-bottom: 40px;
}

.info-img {
	float: left;
	margin-right: 20px;
}

.info a {
	color: gray;
}

.about-company-wrapper {
	display: flex;
	justify-content: space-between;
}

.about-company-text {
	margin-right: 20px;
}

.map {
	padding-top: 50px;
	position: relative;
}

.map-contact {
	position: absolute;
	content: "";
	top: 118px;
	left: 244px;
}

.reviews {
	margin-bottom: 30px;
}

.reviews-wrapper {
	display: flex;
	justify-content: space-between;
}

.client-review {
	background-color: rgb(242, 242, 242);
	margin-right: 20px;
	padding: 5px 10px 20px 20px;
}

footer {
	background-color: #0F1C82;
	color: white;
	padding-top: 10px;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
}

.footer-col ul {
	padding: 0;
}

.footer-col p {
	margin-top: 2px
}

.button-social {
	display: inline-block;
	margin-top: 30px;
	margin-right: 15px;
	width: 32px;
	height: 32px;
}

.facebook {
	background:  url("../img/fb.svg") no-repeat;
}

.instagram {
	background:  url("../img/instagram.svg") no-repeat;
}

.footer-col .made {
	margin-top: 60px;
}

.author {
	text-decoration: underline;
}

.contact-map-wrapper {
	display: flex;
	justify-content: space-between;
}

.promo-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 30px;
}

.promo-wrapper p {
	margin: 0;
	padding: 0;
	text-align: left;
}

.breadcrumbs li {
	display: inline-block;
	margin-right: 10px;
}

.breadcrumbs ul {
	padding: 10px;
}

.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	color: gray;
}

.breadcrumbs a {
	text-decoration: underline;
	color: gray;
}

.catalog-title {
	margin-right: 50px;
	margin-top: 0;
	color:  #0F1C82;
}

.column-header {
	color: gray;
}

td {
	padding: 10px 25px;
	text-align: center;
}

.table-header td {
	text-align: left;
	background-color: #050E56;
	color: #ffffff;
	font-size: 1.5em;
}

table{
	margin-bottom: 20px;
}

.inside-page {
	text-align: center;
	margin-bottom: 30px;
}

.modal {
	width: 100%;
	height: 100%
}

.hidden {
	display: none;
}


@media (max-device-width: 736px) and (min-device-width: 320px), only screen and (max-width: 480px) {
body {
	font-size: 2.5em;
}

.promo-offers,
.products,
.about-company-wrapper,
.reviews-wrapper {
	flex-direction: column;
}

.offer,
.product-item,
.client-review {
	width: 100%;
	outline: 1px solid gray;
	margin-bottom: 10px;
}

}
